{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <h3>Créé votre profil</h3>

    {{ form_start(profileForm) }}
    <button type="submit">Valider</button>
    {{ form_end(profileForm) }}
{% endblock %}
