{% extends 'base.html.twig' %}

{% block title %}Reposts{% endblock %}

{% block body %}

    {% for reposts as repost %}
        <div class="card">
            <p>llala</p>
        </div>
    {% endfor %}

{% endblock %}
