{% extends 'base.html.twig' %}

{% block title %}Hello Link Controller{% endblock %}

{% block body %}

    <div class="container-lg">

        <h1>grades</h1>
        <hr>
        {% for grade in grades %}
            <div class="p-1 m-1 border border-secondary d-flex justify-content-between align-items-center rounded">
                <div class="d-flex align-items-center gap-3">
                    <p>{{ grade.gradeName }}</p>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <a class="btn btn-primary fs-6 fw-light m-1" href="{{ path('app_grade_edit', {'id': grade.id}) }}">edit</a>
                    <a class="btn btn-danger fs-6 fw-light m-1" href="{{ path('app_grade_delete', {'id': grade.id}) }}">delete</a>
                </div>
            </div>
        {% else %}
            <h2>No data</h2>
        {% endfor %}
        <a class="btn btn-success fs-6 fw-light m-1" href="{{ path('app_grade_new') }}">Create</a>
    </div>

{% endblock %}
