{% extends 'base.html.twig' %}

{% block title %}Hello LinkNameController!{% endblock %}

{% block body %}
    <div class="container-lg">
        <h1>Create new Link</h1>

        {{ include('link/_form.html.twig') }}

        <a class="btn btn-secondary fs-6 fw-light m-1" href="{{ path('app_link_index') }}">back to list</a>
    </div>
{% endblock %}
